*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    background-color: #575454;
    color: white;
    display: flex;
    padding: 20px 50px;
    text-align: center;

}
.header > ul >li{
    text-decoration: none;
    list-style: none;
    padding-right: 20px;
}
.header > ul{
    display: flex;
    justify-content: space-evenly;
    padding-right: 10px;
    margin-left: 50px;
}
.header ul li a{
    text-decoration: none;
    color: aliceblue;
}
.body{
    background-color: aqua;
}