<div class="header">
    <div class="f8">F8 Education</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/albums">Albums</a></li>
        <li><a href="/courses/create">Create</a></li>
    </ul>
</div>