<div class="albums-page">
    <div class="img-albums">
        <h2>Rose</h2>
        <img src="https://th.bing.com/th/id/R.bc947ae897002f39e8b0c15004c95d5c?rik=wt3mieSya6%2blUA&pid=ImgRaw&r=0"
            alt="Rose BlackPink" width="400" >
    </div>
     <div class="img-albums">
        <h2>Lisa</h2>
        <img src="https://i1.wp.com/blackpinkupdate.com/wp-content/uploads/2019/02/BLACKPINK-Lisa-Instagram-Moonshot.jpg?ssl=1"
            alt="Lisa BlackPink" width="400" height="470">
    </div>
     <div class="img-albums">
        <h2>Jennie</h2>
        <img src="https://th.bing.com/th/id/R.9e1d42574503a68e78349e1993df04f8?rik=nfqvKINncO4o%2fg&pid=ImgRaw&r=0"
            alt="Jennie BlackPink" width="400" height="470">
    </div>
     <div class="img-albums">
        <h2>Jisoo</h2>
        <img src="https://th.bing.com/th/id/OIP.3_XqMk-b490SKhV4k3_S3AAAAA?rs=1&pid=ImgDetMain"
            alt="Jisoo BlackPink" width="400" height="470">
    </div>
     <div class="img-albums">
        <h2>Jisoo</h2>
        <img src="https://ilarge.lisimg.com/image/21878904/740full-kim-jisoo.jpg"
            alt="Jisoo BlackPink" width="400" height="470">
    </div>
     <div class="img-albums">
        <h2>Rose</h2>
        <img src="https://th.bing.com/th/id/OIP.NrmFSNl3QmLCd0hr9rDoHAHaKY?rs=1&pid=ImgDetMain"
            alt="Rose BlackPink" width="400" height="470">
    </div>
</div>