<div class="mt-4">
    <div class="row">
        <div class="albums-page">
            {{#each albums}}
            <div class="img-albums">
                <div class="text">
                    <h2>{{this.title}}</h2>
                    <p>{{this.description}}</p>
                </div>
                <img src="{{this.img}}" alt="" width="400" height="500">
            </div>
            {{/each}}
        </div>
    </div>
</div>