<div class="new-page">
    <div class="news">
        <h2>Cục Hàng không: Giá vé máy bay cao không do phí dịch vụ</h2>
        <div class="one-row">
            <img src="https://xenuocmiasieusach.3tc.vn/images/news/may-bay.jpg" alt="" width="200px">
            <p>Phản hồi ý kiến của Bộ trưởng Tài chính, Cục Hàng không nói các phí dịch vụ Bộ Giao thông
                Vận tải định giá
                chiếm tỷ trọng nhỏ, không tác động lớn đến giá vé máy bay.</p>
        </div>
    </div>
    <div class="news">
        <h2>60 phút tìm đường sống trong ngôi nhà cháy</h2>
            <div class="one-row">
                <img src="https://th.bing.com/th/id/OIP.MrONe4WcjcVKolyhMKRX5QHaEP?w=316&h=181&c=7&r=0&o=5&dpr=1.4&pid=1.7"
                    alt="" width="400px">
                <p>Thấy phía ngoài lửa khói cuồn cuộc bốc lên, anh Khang cùng vợ trốn trong nhà vệ sinh, dùng khăn thấm
                    nước hết lượt này tới lượt khác chờ được cứu.

                    Khoảng 0h30 sáng 24/5, anh Nguyễn Vũ Khang, 35 tuổi, quê Phú Thọ đang ngủ trong phòng trọ tầng 2 ở
                    ngách 43/98/31 phố Trung Kính, phường Trung Hòa, quận Cầu Giấy thì nghe tiếng hô cháy. Vội xô cửa ra
                    hành lang, anh thấy lửa khói đang cuồn cuộn bốc lên từ khoảng sân tầng 1 kèm nhiều tiếng nổ lụp bụp.
                </p>
            </div>
    </div>
</div>