<form class="mt-4" method="get" action="/news">
  <div class="mb-3">

    <label for="text-input" class="form-label">Từ Khóa</label>
    <input type="text" name="q" class="form-control" id="text-input" aria-describedby="emailHelp" placeholder="Nhập từ khóa">
    
  </div>
  <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
</form>